@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Antic Slab", serif;
}

a:hover {
  color: white;
}

.container-fluid {
  height: 100vh;
}

.btn-color {
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
}

.tweet-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
}

.fa-twitter {
  color: white;
}
